@font-face {
    font-family: 'neuropol'; 
    src: url('./neuropol.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Recomendado para que el texto cargue rápido */
}